body {
    font-family: $primary-font-family;
    font-size: rem(18px);
    line-height: $base-line-height;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs {
    a,
    .breadcrumb_last {
        color: var(--white);
        font-size: .95rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.wpcf7 label,
.wpcf7-submit {
    font-family: $secondary-font-family;
}

/* Type scale : Augmented Fourth */

h1 {
    font-size: 2.827rem;
    font-family: $heading-font;
    letter-spacing: -1.5px;
}

h2,
.h2 {
    font-size: 1.999rem;
}

h3,
.h3 {
    font-size: 1.414rem;
}

h4,
.h4 {
    font-size: 1rem;
}