body {
    font-family: $primary-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs {
    a,
    .breadcrumb_last {
        color: var(--white);
        font-size: .95rem;
    }
}

h1 {
    font-size: rem(48px);
}