body {
    font-family: $primary-font-family;
    font-size: rem(18px);
    line-height: $base-line-height;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs {
    a,
    .breadcrumb_last {
        color: var(--dark-blue);
        font-size: .95rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.intro,
.menu a,
.wpcf7 label,
.wpcf7-submit {
    font-family: $secondary-font-family;
}

h1 {
    font-size: 2rem;
    font-family: $heading-font;
}

h2,
.h2 {
    font-size: rem(24px);
}

h3,
.h3 {
    font-size: 1.414rem;
}

h4,
.h4 {
    font-size: 1rem;
}

figcaption {
    text-align: center;
    color: var(--light-dark-blue);
    font-size: .95rem;
}