$secondary-color: #000;
$light-dark-blue: #28283f;

:root {
    --dark-blue: #01273a;
    --light-dark-blue: #28283f;
    --light-blue: #0067a6;
    --white: #FFFFFF;
    --beige: #ffedd7;
    --yellow: #fca311;
    --green: #46b450;
    --red: #aa0000;
}