$secondary-color: var(--dark-blue);
$light-dark-blue: #28283f;

:root {
    --very-dark-blue: #011722;
    --dark-blue: #01273a;
    --dark-blue-hover: #002233;
    --light-dark-blue: #28283f;
    --light-blue: #0067a6;
    --white: #FFFFFF;
    --yellow: #fca311;
    --beige: #cdc8b4;
    --dark-beige: #c8c2ab;
    --grey: #e4e3df;
    --green: #46b450;
    --red: #aa0000;
    --orange: #d5440b;
    --brown: #231f20;
    --light-brown: #3c3537;
    --dark-brown: #151314;
    --green-figure: #85FFC7;
}