// Font Family
$primary-font-family: 'Source Sans Pro Regular', sans-serif;
$secondary-font-family: "Fira semi-bold", sans-serif;
$heading-font: 'Fira bold', sans-serif;

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;

/** 
 * Fontfaces
 * When you are preloading fonts make sure that what is preloaded matches with the src defined 
 * in your @font-face rules
 * https://nooshu.github.io/blog/2021/01/23/the-importance-of-font-face-source-order-when-used-with-preload/
 */
@include declare-font-face("Fira bold", "./../fonts/fira-sans/FiraSans-Bold", bold);
@include declare-font-face("Fira semi-bold", "./../fonts/fira-sans/FiraSans-SemiBold", 600);
@include declare-font-face("Source Sans Pro Regular", "./../fonts/source-sans-pro/SourceSansPro-Regular", 500);
@include declare-font-face("Source Sans Pro Light", "./../fonts/source-sans-pro/SourceSansPro-Light", 300);
@include declare-font-face("Source Sans Pro Italic", "./../fonts/source-sans-pro/SourceSansPro-Italic", italic);
@include declare-font-face("Source Sans Pro Bold", "./../fonts/source-sans-pro/SourceSansPro-Bold", bold);

