footer {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
    .footer__menu__title {
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    a {
        color: #6c757d;
        text-decoration: none;
        line-height: 1.5;
    }
}