/* Contact Form 7 */
.wpcf7 {
    margin-top: 2rem;
    input,
    textarea,
    select {
        width: 100%;
        border-color: var(--dark-blue);
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-width: 1px;
        border-style: solid;
        background-color: transparent;
        margin-top: .4rem;
    }
    textarea {
        border: 1px solid;
    }
    .wpcf7-acceptance {
        font-size: $base-font-size;
        .wpcf7-list-item {
            margin-left: 0;;
            label {
                display: flex;
                @include breakpoints(md) {
                    display: initial;
                }
            }
            input[type=checkbox] {
                width: 8%;
                margin-right: .8rem;
                @include breakpoints(md) {
                    width: auto;
                    margin-right: .1rem;
                }
            }
        }
    }
    .wpcf7-submit {
        border: 2px solid var(--orange);
        background-color: var(--orange);
        color: var(--white);
        padding: .8rem 0;
        font-weight: bold;
        transition: all .4s ease;
        &:disabled {
            cursor: not-allowed;
        }
        @include hover {
            background-color: var(--white);
            color: var(--orange);
            cursor: pointer;
        }
    }
    .wpcf7-form p:last-of-type {
        margin-bottom: 0;
    }
    form.invalid .wpcf7-response-output {
        border-color: var(--red);
        background-color: var(--red);
        color: var(--white);
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .wpcf7-not-valid-tip {
        color: var(--red);
    }
    form.sent .wpcf7-response-output {
        background-color: var(--green);
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    p + p,
    .contact-form-column p {
        margin-top: 2rem;
    }
    .contact-form-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        flex-direction: column;
        @include breakpoints(md) {
            flex-direction: row;
        }
        .contact-form-column {
            flex-basis: 100%;
            @include breakpoints(md) {
                flex-basis: 45%;
            }
        }
    }
    .wpcf7-radio {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        flex-wrap: wrap;
        .wpcf7-list-item {
            display: flex;
            flex-basis: 50%;
            flex-direction: row;
            margin-left: 0;
            @include breakpoints(md) {
                flex-basis: 24%;
            }
            input[type=radio] {
                width: auto;
                margin-top: 0;
                margin-right: .5rem;
            }
        }
    }
    .wpcf7-select {
        margin-top: 1rem; 
        option {
            margin-left: 0;
        }
    }
    .devis-submit {
        width: 30%;
        margin-top: 2rem;
    }
}