a.skip-link {
    display: inline-block;
    color: #555;
    background: var(--white);
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
    &:focus {
        left: 0;
    }
}

header {
    @include breakpoints(md) {
        padding: .8rem 0;
        position: absolute;
        width: 100%;
        z-index: 100;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        height: 80px;
        svg {
            width: 60px;
            height: 60px;
            @include breakpoints(md) {
                width: 80px;
                height: 80px;
            }
        }
    }
}