a.skip-link {
    display: inline-block;
    color: #555;
    background: var(--white);
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
    &:focus {
        left: 0;
    }
}

header {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        margin: .67rem 0;
        height: 60px;
        svg {
            width: 60px;
            height: 60px;
        }
    }
}