a.skip-link {
    display: inline-block;
    color: #555;
    background: var(--white);
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
    &:focus {
        left: 0;
    }
}

header {
    @include breakpoints(md) {
        
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    a.brand {
        color: var(--dark-blue);
        text-decoration: none;
        font-size: rem(25px);
        &:hover {
            color: var(--orange);
        }
    }
}