/* Hamburger Menu */
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.hamburger__box {
    display: block;
    width: rem(24px);
    height: rem(18px);
}
.hamburger__inner {
    display: block;
}
.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    display: block;
}
.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    position: absolute;
    width: rem(24px);
    height: rem(2px);
    background-color: var(--white);
    border-radius: 1px;
}
.hamburger__inner::before {
    top: -.5rem;
}
.hamburger__inner::after {
    bottom: -.5rem;
}