/* Hamburger Menu */
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top: rem(15px);
    &:hover {
        .hamburger__inner::before {
            transform: translateY(-2px);
        }
        .hamburger__inner::after {
            transform: translateY(2px);
        }
    }
    @include breakpoints(md) {
        display: none;
    }
}
.hamburger__box {
    display: block;
    width: rem(24px);
    height: rem(18px);
}
.hamburger__inner {
    display: block;
    &::before,
    &::after {
        content: '';
        display: block;
    }
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    position: absolute;
    width: rem(24px);
    height: rem(2px);
    background-color: var(--dark-blue);
    border-radius: 1px;
}
.hamburger__inner::before {
    top: -.5rem;
}
.hamburger__inner::after {
    bottom: -.5rem;
}

.hamburger[aria-expanded="true"] {
    .hamburger__inner {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: rotate(-90deg);
            bottom: 0;
        }
    }
}

/* Main Nav */
nav {
    display: none;
    @include breakpoints(md) {
        display: block;
    }
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    ul li ul {
        display: none;
    }
    &.main-nav {
        .menu {
            @include breakpoints(md) {
                display: flex;
                padding: 0;
            }
        }
        &.is-active {
            display: block;
            position: absolute;
            width: 100%;
            transform: translateY(80px);
            background-color: var(--white);
            left: 0;
            right: 0;
            z-index: 150;
        }
        li {
            position: relative;
            @include breakpoints(md) {
                list-style-type: none;
                padding: 0 rem(20px);
            }
            &.menu-item-has-children {
                button {
                    border: 0;
                    background-color: transparent;
                    color: var(--white);
                    padding: 0 1rem;
                    font-weight: bold;
                    background-color: var(--light-dark-blue);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    height: 44px;
                    border-top: 1px solid var(--light-dark-blue);
                    border-bottom: 1px solid var(--light-dark-blue);
                    &:hover {
                        cursor: pointer;
                        background-color: var(--dark-blue);
                    }
                    .minus {
                        display: none;
                    }
                    @include breakpoints(md) {
                        display: none;
                    }
                }
                @include breakpoints(md) {
                    svg {
                        margin-left: .5rem;
                    }
                }
                &:hover ul {
                    @include breakpoints(md) {
                        display: block;
                        position: absolute;
                        white-space: nowrap;
                        background-color: var(--white);
                        transform: translateY(3px);
                        z-index: 100;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                    li {
                        padding: 0;
                        @include breakpoints(md) {
                            padding: 0 1.5rem;
                            &:first-child {
                                padding-top: 1.5rem;
                            }
                            &:last-child {
                                padding-bottom: 1.5rem;
                            }
                            a {
                                padding: rem(10px) 0;
                            }
                        }
                    }
                }
                &.current-menu-item svg {
                    transform: rotate(180deg);
                }
            }
            &.is-open { 
                ul {
                    display: block;
                    li a {
                        padding-left: 2rem;
                    }
                }
                button {
                    .plus {
                        display: none;
                    }
                    .minus {
                        display: block;
                    }
                }
            }
            a {
                display: block;
                color: var(--dark-blue);
                text-decoration: none;
                text-align: left;
                position: relative;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-top: 1px solid var(--light-dark-blue);
                &:hover {
                    background-color: rgba(255,255,255,0.1); 
                    color: var(--yellow);
                }
                &::after {
                    width: 0;
                    content: "";
                    display: block;
                    position: absolute;
                    height: .25rem;
                    background-color: var(--yellow);
                    transform: translateY(3px);
                    transition: all .4s ease-in-out;
                    z-index: 500;
                }
                @include breakpoints(md) {
                    text-align: center;
                    border-top: none;
                    display: inline-block;
                    padding: 0;
                }
            }
            &.current-menu-parent > a {
                color: var(--yellow);
                padding-bottom: 6px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: .25rem;
                    background-color: var(--yellow);
                    transform: translateY(5px);
                }
            }
            &:hover > a::after {
                width: 100%;
            }
            &.current-menu-item > a {
                color: var(--yellow);
            }
        }
        > li {
            color: red;
        }
        @include breakpoints(md) {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

.header__cta {
    @include breakpoints(md) {
        display: flex;
        align-items: center;
    }
    a {
        background-color: var(--yellow);
        color: var(--white);
        text-decoration: none;
        padding: .5rem 1rem;
        display: inline-block;
        border-top-left-radius: rem(8px);
        border-bottom-right-radius: rem(8px);
        border-bottom-left-radius: rem(8px);
        @include breakpoints(md) {
            padding: .5rem 1rem;
        }
        &:hover {
            background-color: rgba(0,0,0,1); 
        }
    }
}

.back-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--white);
    padding: .4rem .8rem;
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bold;
}