* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body::before {
    content: '';
    display: block;
    width: 70vw;
    height: 100vh;
    background-color: #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
    @include breakpoints(md) {
        max-width: 90%;
    }
    @include breakpoints(lg) {
        max-width: 1200px;
    }
}

.page-title-area {
    color: var(--dark-blue);
    position: relative;
    z-index: 10;
    @include breakpoints(md) {
        margin-top: 4rem;
    }
    .container {
        padding-top: rem(44px);
    }
    h1,
    .breadcrumbs {
        position: relative;
        z-index: 100;
    }
    .breadcrumbs {
        margin-top: 0;
        margin-bottom: rem(20px);
    }
}

.main-content {
    margin-top: 2rem;
}

.intro {
    width: 100%;
    @include breakpoints(md) {
        width: 90%;
    }
}

/* Sub and siblings categories */
.sub-cat,
.siblings-cat {
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem;
    a {
        display: block;
        flex: 0 0 22%;
        text-align: center;
        padding: 5rem 2rem;
        margin-right: 1rem;
        background-color: grey;
    }
}

