* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

a[href*="//"]:not([href*="arnold.local"])::after {
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNDI4NTcgMTRMMTEuOTc4NiAzLjQ0OTk5TDExLjk4NTcgN0wxNCA3TDE0IC01LjcyMjA1ZS0wNkw3IC02LjMzNDAxZS0wNkw3IDIuMDE0MjhMMTAuNTUgMi4wMjE0MkwxLjI0ODllLTA3IDEyLjU3MTRMMS40Mjg1NyAxNFoiIGZpbGw9IiNkNTQ0MGIiLz4KPC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
    @include breakpoints(md) {
        max-width: 90%;
    }
    @include breakpoints(lg) {
        max-width: 1180px;
    }
}

.page-title-area {
    /*background-color: var(--very-dark-blue);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    color: var(--white);
    position: relative;
    z-index: 10;
    @include breakpoints(md) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(1,23,34);
        @include breakpoints(md) {
            background: linear-gradient(90deg, rgba(1,23,34,1) 0%, rgba(125,137,142,1) 58%, rgba(255,255,255,0) 100%);
        }
    }
    .container {
        padding-top: rem(44px);
        padding-bottom: rem(44px);
    }
    h1,
    .breadcrumbs {
        position: relative;
        z-index: 100;
    }
    .breadcrumbs {
        margin-top: 0;
        margin-bottom: rem(20px);
    }
    + .container {
        padding-top: 2rem;
    }
}

.single-post .page-title-area h1 {
    width: 100%;
    @include breakpoints(md) {
        width: 70%;
    }
}

.main-content {
    margin-top: 2rem;
}

.home .main-content {
    margin-top: 0;
}

h2 {
    &:not(:first-of-type) {
        @include breakpoints(md) {
            margin-top: 10rem;
        }
    }
    &:first-of-type {
        @include breakpoints(md) {
            margin-top: 5rem;;
        }
    }
}

.intro {
    width: 100%;
    @include breakpoints(md) {
        width: 90%;
    }
}

.sub-intro {
    width: 100%;
    @include breakpoints(md) {
        width: 70%;
    }
}

/* Services blocks */
.wp-block-media-text {
    @include breakpoints(md) {
        margin: 10rem 0;
        min-height: 450px;
    }
    figure {
        position: relative;
        &::before {
            content: "";
            display: block;
            background-color: var(--grey);
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: -5%;
            left: -5%;
            z-index: -1;
        }
    }
    &.has-media-on-the-right {
        figure {
            position: relative;
            &::before {
                display: none;
            }
            &::after {
                content: "";
                display: block;
                width: 76px;
                height: 154px;
                background-image: url(../img/square-dots.svg);
                background-size: contain;
                transform: rotate(180deg);
                position: absolute;
                right: -74px;
                top: 40%;
                z-index: -1;
            }
        }
    }
    h2,
    h3 {
        margin-top: .5rem;
        margin-bottom: rem(32px);
    }
    .sup-title {
        margin-bottom: 0;
        font-size: .8rem;
        text-transform: uppercase;
        color: var(--light-blue);
    }
    .wp-block-media-text__content {
       margin-top: 2rem;
       @include breakpoints(md) {
           margin-top: 0;
       }
    }
}

/* Categories posts */
.category-articles__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoints(md) {
        justify-content: initial;
    }
    .category-articles__item {
        flex-basis: 100%;
        @include breakpoints(md) {
            flex-basis: 32%;
            margin-right: .6rem;
        }
        h4 {
            margin-top: .2rem;
        }
        a {
            color: var(--dark-blue);
            text-decoration: none;
            transition: .4s ease;
            &:hover,
            &:active,
            &:focus {
                color: var(--orange);
                text-decoration: underline;
            }
        }
    }
}

/* Sub and siblings categories */
.cat-links {
    background-color: var(--grey);
    /*background-image: url(../img/topo.svg);*/
    text-align: center;
    padding: 5rem 0 0;
    margin-top: 5rem;
    @include breakpoints(md) {
        padding: 5rem 0;
    }
    h3 {
        margin-top: 0;
    }
    a {
        margin-bottom: 1rem;
    }
    .sub-cat,
    .siblings-cat {
        display: flex;
        justify-content: center;
        margin: 4rem 0 0;
        flex-wrap: wrap;
        .siblings-cat__item {
            color: var(--dark-blue);
            width: 100%;
            max-width: 300px;
            background-color: var(--white);
            padding: 3rem 2rem;
            margin-right: 1rem;
            transition: all .2s ease;
            border: 6px solid transparent;
            margin-bottom: 2rem;
            &:hover {
                color: var(--orange);
                border: 6px solid var(--orange);
                svg path {
                    fill: var(--orange);
                }
            }
            a {
                display: block;
                text-align: center;
                font-family: $secondary-font-family;
                color: var(--dark-blue);
                text-decoration: none;
                transition: all .2s ease;
                &:hover {
                    color: var(--orange);
                }
            }
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/* About */
.page-id-23 .wp-block-media-text:first-of-type {
    margin-top: 2rem;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    .skills__item {
        flex-basis: 25%;
        margin-bottom: 1rem;
        text-align: center;
        img {
            height: 100px;
            width: auto;
        }
    }
}

/* Leaflet Map on contact page */
#contact-map { 
    height: 100%; 
}