* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
    @include breakpoints(lg) {
        max-width: 1200px;
    }
}

.page-title-area {
    color: var(--dark-blue);
    position: relative;
    z-index: 10;
    @include breakpoints(md) {
        margin-top: 4rem;
    }
    .container {
        padding-top: rem(44px);
    }
    h1,
    .breadcrumbs {
        position: relative;
        z-index: 100;
    }
    .breadcrumbs {
        margin-top: 0;
        margin-bottom: rem(20px);
    }
}

.main-content {
    margin-top: 2rem;
}

.intro {
    width: 100%;
}